<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>Forgot Password</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large">Reset Password</ion-title>
    </ion-toolbar>
  </ion-header>

  <form (ngSubmit)="onResetPassword()" #resetForm="ngForm">
    <!-- Campo para el email -->
    <div class="mb-6">
      <label for="email" class="block mb-2 text-sm font-medium text-gray-900 dark:text-white">
        Email address
      </label>
      <input type="email" id="email" name="email" [(ngModel)]="email"
        class="bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 block w-full p-2.5"
        placeholder="john.doe@company.com" required #emailInput="ngModel" />
      <div *ngIf="emailInput.invalid && emailInput.touched" style="color: red;">
        Please enter a valid email address.
      </div>
    </div>

    <!-- Botón de reset -->
    <button type="submit"
      class="text-white bg-blue-700 hover:bg-blue-800 focus:ring-4 focus:outline-none focus:ring-blue-300 font-medium rounded-lg text-sm w-full sm:w-auto px-5 py-2.5 text-center"
      [disabled]="resetForm.invalid">
      Send Reset Link
    </button>
  </form>

  <!-- Botones de navegación -->
  <button (click)="onLogin()"
    class="text-white bg-blue-700 hover:bg-blue-800 focus:ring-4 focus:outline-none focus:ring-blue-300 font-medium rounded-lg text-sm w-full sm:w-auto px-5 py-2.5 text-center">
    Go to Login
  </button>
</ion-content>